{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}

<form method="post" class="form" id="form">

			<h2 class="form__title">Enregistrer une personne</h2>
			<input type="email" placeholder="ENom" class="input" name="email" id="inputNom"  required />  
			<input type="password" placeholder="Prenom" class="input" name="password" id="inputPrenom"  required/>      
            <input type="date" id="inputDateNaissance" name="datenaissance" required="required" class="input"> 

			<button class="btn" type="submit" value="isSubmitted" name="sub">Enregistrer</button>

</form>
{% endblock %}
