{% extends 'base.html.twig' %}

{% block title %}Test Econocom | Affichage carré{% endblock %}

{% block body %}

<div class="row ">
	<div class="col-md-12 col-lg-12" style = "margin: 25px;" >
		<button class="w-50 btn btn-primary btn-lg mx-auto d-block" onclick=location.href='{{path('home',)}}'>Home</button> 
	</div>
</div>

	<div style = "background-color: {{color}}; height: 75px; width: 75px; margin: 15% 50% 10% 50%; display: flex;
    align-items: center;
    justify-content: center;">
		<h1>Le carré</h1>
	</div>
{% endblock %}
